@import "_reset";

body{
    background-color: red;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.calc {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 5px;
}
.calc__result {
    grid-column: -1 / 1;
    background-color: white;
}
.calc__btn {
    cursor: pointer;
    padding: 25px 40px;
}
.calc__btn--reset{
    grid-column: 1 / 3;
}
.calc__btn--equal{
    grid-column: 3 / 5;
}